Steam-Game-Price-Alert/__pycache__/discord.cpython-311.pyc
*.pyc
Steam-Game-Price-Alert/saved_games.db
Steam-Game-Price-Alert/user_info.json
Steam-Game-Price-Alert/Steam-Game-Price-Alert.zip
Steam-Game-Price-Alert/debug.log
Steam-Game-Price-Alert/sale_reminder.json
Steam-Game-Price-Alert/saved_sale.json
Steam-Game-Price-Alert/Steam-Game-Price-Alert.v1.3.zip
Steam-Game-Price-Alert/Steam-Game-Price-Alert.v1.4.zip
